
<ion-header>
  <ion-navbar>
    <ion-title style="text-align:center;" *ngFor="let data of resData">
        <div  style="font-size:15px;">{{data.response.company_name}}</div>
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <!--<div *ngFor="let data of resData" style="text-align:center;" >
      <img  [src] = "data.response.logo_url" class="mylogo" >

  </div>-->
  <!--
  <ion-list>
    <ion-item *ngFor="let data of resData">
      <ion-item style="text-align:center;" >
          <img  [src] = "data.response.logo_url" class="mylogo" >
      </ion-item>


        <h1 style="text-align:center;">{{data.response.company_name}}</h1>
        <br/>
          <ion-item>

            <ion-input type="email"  placeholder="you@yourdomain.com" class="myclass"></ion-input>
          </ion-item>
          <ion-item>
            <ion-input type="password" placeholder="Password" class="myclass"></ion-input>
          </ion-item>
          <button ion-button block large class="lbutton" (click)="postRequest()">Login</button>
    </ion-item>
</ion-list>
<ion-list>

</ion-list>
-->
<!--
  onsubmit="window.location='http://api.pathola.com/freelance_signin.php?email='+document.getElementById('email').value+'&password='+document.getElementById('password').value;"
-->

<iframe src="https://sandbox.pathola.org/addon_freelance_login/" style="border:none;width:100%; height:100%; overflow-x:hidden;  overflow-y:hidden;"></iframe>

<!--
<form action="#" method="post" onsubmit="window.location='http://api.pathola.com/freelance_signin.php?email='+document.getElementById('email').value+'&password='+document.getElementById('password').value;">

<input type="email" id="email" name="email" class="myclass" placeholder="you@yourdomain.com" />
<input type="password" id="password" name="password" class="myclass" placeholder="password" />
<button>Login</button>
</form>
-->
</ion-content>


